$body-background-1: rgba(251,245,241,255);
$body-background-2: #fafafa;
$color-h2: rgba(243, 181, 98, 1);
$color-h3: rgba(100, 123, 100, 1);
$color-text-regular: rgba(51, 51, 51, 1);
$color-text-medium: rgba(79, 79, 79, 1);
$color-button-text: rgba(254, 254, 254, 1);
$button-background-dark: rgba(100, 123, 100, 1);
$button-background-light: rgba(102, 172, 102, 1);
$card-image-background-green: rgba(100, 123, 100, 1);
$card-shadow: rgba(155, 148, 148, 0.17);
$card-image-background-white: white;
$python-background-1: rgba(100, 123, 100, 0.11);
$iost-background: rgba(100, 123, 100, 1);
$people-background: rgba(100, 123, 100, 0.11);
$footer-background: rgba(240, 220, 197, 1);
